@*@model IEnumerable<SwiftSkool.Models.Subject>*@
@model SwiftSkoolv1.Domain.Subject

<div class="card">
    <div class="card-block">

        <div class="form-header  purple darken-4">
            <h3>
                List of Subject <span><a onclick="myFunction()" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Subject</a></span>
            </h3>
        </div>

        @*<a class="popup" href="/Subjects/Save/0" style="margin-bottom: 20px; margin-top: 20px">Add</a>*@
        <table id="Jdatatable" class="table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>Subject Code</th>
                    <th>Subject Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>

        <!-- Modal -->
        <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="flex-center">
                            <h4 class="modal-title">Subject</h4>
                        </div>
                    </div>
                    <!--Body-->
                    <div class="modal-body" id="myModalDivBody">
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- /.Modal-->
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Subjects/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "SubjectCode", "autoWidth": true },
                { "data": "SubjectName", "autoWidth": true },
                {
                    "data": "SubjectId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" title="Edit Subject" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" ></i>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<a class="text-danger" title="Remove Subject" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true" ><i />Remove</a>';

                    }
                }

            ]
        });

    });
    function Edit(subjecId) {
        var url = "/Subjects/Save?id=" + subjecId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(subjecId) {
        var url = "/Subjects/Delete?id=" + subjecId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/Subjects/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>