@model IEnumerable<SwiftSkoolv1.Domain.JambPractice.JambQuestionAnswer>

@{
    ViewBag.Title = "Jamb Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-block">

        <div class="form-header  purple darken-4">
            <h3>
                Jamb Questions <span>
                    <a href="@Url.Action("Create","JambQuestionAnswers")" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Jamb Question</a>
                </span>
            </h3>
        </div>
        <div class="tablecontainer" style="width: 90%; margin: 0 auto">
            <table id="Jdatatable" class="table table-responsive table-striped table-hover">
                <thead>
                    <tr>
                        <th>Subject Code</th>
                        <th>Exam Year</th>
                        <th>Question</th>
                        <th>Option 1</th>
                        <th>Option 2</th>
                        <th>Option 3</th>
                        <th>Option 4</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('#Jdatatable').DataTable({
                "ajax": {
                    "url": "/JambQuestionAnswers/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "SubjectName", "autoWidth": true },
                    { "data": "ExamYear", "autoWidth": true },
                    { "data": "Question", "autoWidth": true },
                    { "data": "Option1", "autoWidth": true },
                    { "data": "Option2", "autoWidth": true },
                    { "data": "Option3", "autoWidth": true },
                    { "data": "Option4", "autoWidth": true },
                    {
                        "data": "JambQuestionAnswerId",
                        "autoWidth": true,
                        "render": function (data) {
                            return '<a href="#" onclick="Edit(' + data + ')" data-toggle="tooltip" data-placement="top" title="Edit Jamb Question"><i class="fa fa-pencil" aria-hidden="true" >Edit<i/></a>';
                        }
                    }
                ]
            });
           
        });
        function Edit(questionId) {
            var url = "/JambQuestionAnswers/Edit?id=" + questionId;
            window.open(''+url+'', '_self');
        };

    </script>
}