@model SwiftSkool.Models.CaSelectIndexVm
@{
    ViewBag.Title = "SelectIndex";
}

<h2>SelectIndex</h2>


<form action="" method="post" class="form-inline">
    
    <!-- BEGIN INLINE FORM -->
    <div class="row">
        <div class="col-lg-7">
            <article class="margin-bottom-xxl">
                <p class="lead">
                    Please use the following parameters to perform Query
                </p>
            </article>
        </div><!--end .col -->
        <div class="col-lg-12">
            <form class="form-inline">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group">
                            @Html.DropDownList("SubjectId", (SelectList)ViewBag.SubjectCode, "", new { @class = "form-control" })
                            <label>Subject Name</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("ClassName", (SelectList)ViewBag.ClassName, "", new { @class = "form-control" })
                            <label>ClassName</label>
                        </div>

                        <div class="form-group">
                            @Html.DropDownList("TermName", (SelectList)ViewBag.TermName, "", new { @class = "form-control" })
                            <label>Term Name</label>
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("SessionName", (SelectList)ViewBag.SessionName, "", new { @class = "form-control" })

                            @*@Html.DropDownList("SessionName", new SelectList(ViewBag.SessionName), "-select- ", new { @class = "form-control" })*@
                            <label>SessionName</label>
                        </div>
                        <div class="form-group">
                        <span><input type="submit" value="View CA" class="btn btn-block ink-reaction btn-flat btn-raised btn-primary" name="action:CreateCaView" /></span>
                            <span><input type="submit" value="Download CA" class="btn btn-block ink-reaction btn-flat btn-raised btn-primary" name="action:DownloadCa" /></span>
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->

            </form>
        </div><!--end .col -->
    </div>

    <!--end .row -->
    <!-- END INLINE FORM -->
</form>






