@model IEnumerable<SwiftSkoolv1.Domain.Guardian>
<div class="card">
<div class="card-block">
       
<div class="form-header  purple darken-4">
    <h3>
        Parent/Guardian List <span><a href="#" onclick="Excel()" class="btn btn-primary"><i class="fa fa-star"></i>Excel Upload</a></span>
        <span><a href="#" onclick="myFunction()" class="btn btn-primary"><i class="fa fa-user"></i>Add Guardian</a></span>

    </h3>
  
</div>
    
        <table id="Jdatatable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Student Id</th>
                <th>Guardian Name</th>
                <th>Phone Number </th>
                <th>Relationship </th>
                <th>Action</th>
            </tr>
            </thead>
        </table>


        <!-- Modal -->
        <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Guardian</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body" id="myModalDivBody">

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- /.Modal-->

    </div>
</div>

 

<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<script type="text/javascript">
    var i = "@ViewBag.Message";
    if (i) {
        toastr["error"](data.message);
    }
    
    $(document).ready(function () {

        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Guardians/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "StudentId", "autoWidth": true },
                { "data": "FullName", "autoWidth": true },
                { "data": "PhoneNumber", "autoWidth": true },
                { "data": "Relationship", "autoWidth": true },
                {
                    "data": "GuardianId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" >Edit</i></a>' +
                            '<a class="text-danger" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true" >Remove</i></a>';
                    }
                }
                //{ "data": "EmailID", "autoWidth": true },
                //{ "data": "Phone", "autoWidth": true },
            ]
        });


    });
 
    function Delete(subjecId) {
        var url = "/Guardians/Delete?id=" + subjecId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Edit(subjecId) {
        var url = "/Guardians/Save?id=" + subjecId;
        //$('#actionsList').modal("show");
        //window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Details(subjecId) {
        var url = "/Guardians/Save?id=" + subjecId;
        //$('#actionsList').modal("show");
        //window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/Guardians/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Excel() {
        var url = "/Guardians/UpLoadGuardian";
        //$('#actionsList').modal("show");
        //window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>
