@model IEnumerable<SwiftSkoolv1.Domain.School>

@{
    ViewBag.Title = "My School";
}
<header class="section-header">
    <div class="tbl">
        <div class="tbl-row">
            <div class="tbl-cell">
                <h2>List of Schools</h2>
                <div class="subtitle"></div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid">
    <!-- First row -->
    <div class="row">
        <!-- First column -->
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12 mb-1">
                    <!-- Tabs -->
                    <!-- Nav tabs -->
                    <a href="#" onclick="AddNew()" class="btn btn-btn-primary"><i class="fa fa-user"></i>Add School</a>
                    <br />

                    <!-- Tab panels -->
                    <div class="tab-content card">
                        <!--Panel 1-->
                        <div class="tab-pane fade show active" id="panel83" role="tabpanel">
                            <div class="table-responsive">
                                <table id="Jdatatable" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>School Name</th>
                                            <th>Address</th>
                                            <th>School Type</th>
                                            <th>Is Enabled</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!--/.Panel 1-->
                    </div>
                    <!-- /.Tabs -->
                </div>
            </div>
        </div>
        <!-- /.First column -->
        <!-- Second column -->
        <div class="col-md-4 mb-1">
            <div class="card contact-card with-padding">
                <br />
                <div class="card-body" id="mydetailBody">
                </div>
            </div>
        </div>
        <!-- /.Second column -->
    </div>
    <!-- /.First row -->
</div>
<!-- Modal -->
<div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="flex-center">
                    <h4 class="modal-title">School Details</h4>
                </div>
            </div>
            <!--Body-->
            <div class="modal-body" id="myModalDivBody">
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Modal-->

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // var gender = "@ViewBag.Gender";
        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Schools/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name", "autoWidth": true },
                { "data": "Address", "autoWidth": true },
                { "data": "OwernshipType", "autoWidth": true },
                { "data": "IsEnabled", "autoWidth": true },

                {
                    "data": "SchoolId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" title="School Basic Details" onclick="Detail(\'' + data + '\')"><i class="fa fa-info-circle" aria-hidden="true">Details</i></a>&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<a href="#" title="Edit School Details" onclick="Edit(\'' + data + '\')"><i class="fa fa-pencil" aria-hidden="true">Edit</i></a>';
                    }
                }
                ],
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'SchoolList' },
                    { extend: 'pdf', title: 'SchoolList' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            
        });

    });
    $(window).scroll(function(){
        $("#mydetailBody").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px"}, "slow" );
    });
    function Edit(schoolId) {

        var url = "/Schools/Edit?id=" + schoolId;
        window.open(''+url+'', '_self');
    };

    function Detail(schoolId) {
        //window.alert(subjecId);
        var url = "/Schools/PartialDetails?id=" + schoolId;
        $('#mydetailBody').load(url);

    };

    function AddNew() {
        window.open('@Url.Action("Create", "Schools")', '_self');
    };
</script>