@model IEnumerable<SwiftSkoolv1.Domain.BehaviouralSkill>

@{
    ViewBag.Title = "Index";
}

<div class="card">
<div class="card-block">
       
<div class="form-header  purple darken-4">
    <h3>
        Behavioral Skills <span><a onclick="myFunction()" class="btn btn-primary"> <i class="fa fa-plus left"></i> Add Behavioral Skill</a>
        </span>
    </h3>
</div>

    <table id="Jdatatable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Actions</th>
           
        </tr>
        </thead>
    </table>

    <!-- Modal -->
    <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="flex-center">
                        <h4 class="modal-title">Behavioural Skill</h4>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body" id="myModalDivBody">

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Modal-->
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
      
        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/BehaviouralSkills/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "SkillName", "autoWidth": true },
                { "data": "BehaviorSkillCategoryId", "autoWidth": true },
                {
                    "data": "BehaviouralSkillId",
                    "autoWidth": true,
                    "render": function(data) {
                        return '<a href="#" onclick="Edit('+data+')" ><i class="fa fa-pencil" aria-hidden="true" ></i></a>' +
                            '<a class="text-danger" href="#" onclick="Delete('+data+')" ><i class="fa fa-remove" aria-hidden="true" ><i/></a>';

                    }
                }
          
            ]
        });
      
    });
    function Edit(BehaviouralSkillId) {
        var url = "/BehaviouralSkills/Save?id=" + BehaviouralSkillId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(BehaviouralSkillId) {
        var url = "/BehaviouralSkills/Delete?id=" + BehaviouralSkillId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/BehaviouralSkills/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>

