@{
    ViewBag.Title = "UploadFile";
}
<h2>Upload Student Record</h2>
<a class="btn btn-primary" href="~/ExcelTemplate/StudentUploadTemplate.xlsx">Download Template</a>

@using (Html.BeginForm("UploadStudent", "Students", FormMethod.Post, new { enctype = "multipart/form-data", id = "theform" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File </span> <input type="file" name="excelfile" />
    <br />
    <input id="btnsubmit" type="submit" value="Import" class="btn btn-success" />
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#theform').submit(function () {
            $("input[type='submit']", this)
                .val("Uploading Please Wait...")
                .attr('disabled', 'disabled');
            return true;
        });
    });
</script>