@model SwiftSkoolv1.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    //Layout = "~/Views/Shared/_LayoutSwiftSkools.cshtml";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="form-header">
                        <h3><img src="~/Content/images/swiftskool2.png" width="100" height="80" style="margin-left:38%;" /></h3>
                    </div>


                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Enter You E-Mail Address.</h3>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Email Link" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
