<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SwiftSkool</title>
    
    <link rel="icon" href="~/Content/images/swiftskool2.png" item-height="200" type="image/x-icon">

    <!-- Meta OG -->
    
    <link rel="stylesheet" href="~/StartUI/css/separate/pages/login.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/StartUI/css/main.css">
 
</head>
<body class="fixed-sn white-skin">
<div class="page-center">
<div class="page-center-in">
@RenderBody()
    </div>
    </div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script src="~/StartUI/js/lib/jquery/jquery-3.2.1.min.js"></script>
<script src="~/StartUI/js/lib/popper/popper.min.js"></script>
<script src="~/StartUI/js/lib/tether/tether.min.js"></script>
<script src="~/StartUI/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="~/StartUI/js/plugins.js"></script>
<script type="text/javascript" src="~/StartUI/js/lib/match-height/jquery.matchHeight.min.js"></script>
<script>
    $(function() {
        $('.page-center').matchHeight({
            target: $('html')
        });

        $(window).resize(function() {
            setTimeout(function() {
                    $('.page-center').matchHeight({ remove: true });
                    $('.page-center').matchHeight({
                        target: $('html')
                    });
                },
                100);
        });
    });
</script>
<script src="js/app.js"></script>
@RenderSection("scripts", required: false)
</body>

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
</html>