<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SwiftSkool</title>

    <link rel="icon" href="~/Content/images/swiftskool2.png" item-height="200" type="image/x-icon">

    <!-- Meta OG -->

    <link rel="stylesheet" href="~/StartUI/css/separate/pages/error.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/StartUI/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/StartUI/css/main.css">
</head>
<body>

    @RenderBody()

    <!-- SCRIPTS -->
    <!-- JQuery -->

    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from mdbootstrap.com/live/_MDB/templates/Admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Jul 2017 21:22:01 GMT -->
</html>