
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>SWIFTSKOOL | Login</title>
    <link rel="icon" href="~/Content/images/swiftskool2.png" item-height="200" type="image/x-icon">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="~/Content/css/mylogin.css" rel="stylesheet" />
    @*<link href="~/Content/css/style.css" rel="stylesheet" />*@
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/css/mdb.min.css" rel="stylesheet">

</head>
<body>
    <div class="container-default">
        @RenderBody()
</div>
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/Scripts/tether.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/Scripts/mdb.min.js"></script>

<script>
        new WOW().init();
</script>

</body>

</html>
