@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span class="text-xxxl text-light">512 <i class="fa fa-exclamation-circle text-danger"></i></span></h1>
            <h2 class="text-light">Oops! Something went wrong, <span> Record Already Exist</span></h2>
            <h1 class="text-danger">You can't add the same record twice...</h1>
            <h3>Please check and Update an existing record...</h3>
        </div><!--end .col -->
    </div><!--end .row -->

