@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><span class="text-xxxl text-light">500 <i class="fa fa-exclamation-circle text-danger"></i></span></h1>
            <h2 class="text-light">Oops! Something went wrong</h2>
            <h2 class="text-light">@ViewBag.ErrorInfo</h2>
            <h2 class="text-light">@ViewBag.ErrorMessage</h2>
        </div><!--end .col -->
    </div><!--end .row -->

