
@*<!--Add MVCGrid reference to view-->
@using MVCGrid.Web;
@{
    ViewBag.Title = "MVC Grid View";
}

<h2>MVC GRID in ASP.NET MVC5 Web application</h2>
<!--Call grid using name specified in MVCGridConfig.cs-->
@Html.MVCGrid("SampleGrid")*@

