@*@model PagedList.IPagedList<SwiftSkoolv1.Domain.AssignedClass>*@

@{
    ViewBag.Title = "Assigned Classes";
}

<div class="card">
    <div class="card-block">
       
        <div class="form-header  purple darken-4">
            <h3>
                Assigned Class <span><a href="#" onclick="myFunction()" class="btn btn-primary">Assign Class</a></span>

            </h3>
        </div>
    <form id="formFilter" onsubmit="return false;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ClassName">Class Name</label>
                            @Html.DropDownList("ClassName", null, htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TermName">Term Name</label>
                            @Html.DropDownList("TermName", null, htmlAttributes: new {@class = "form-control"})
                        </div>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <button type="submit" id="btn-search" class="btn btn-default btn-lg">Search/View</button>

                    </div>
                </div>
               
            </div><!--end .card-body -->
        </div><!--end .card -->
    </form>

    <div class="tablecontainer" style="width: 90%; margin: 0 auto">
      
        <table id="Jdatatable" class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Id</th>
                <th>Class Name</th>
                <th>Term Name</th>
                <th>Session Name</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="flex-center">
                        <h4 class="modal-title">Assign Class</h4>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body" id="myModalDivBody">
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Modal-->

   
</div>
</div>
<script src="~/Scripts/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
           
            "ajax": {
                "url": "/AssignedClasses/GetIndex",
                "type": "POST",
                "data": function (d) {
                    return $('#formFilter').serialize();
                },
                "datatype": "json"
            },
            "columns": [
                { "data": "StudentName", "autoWidth": true },
                { "data": "StudentId", "autoWidth": true },
                { "data": "ClassName", "autoWidth": true },
                { "data": "TermName", "autoWidth": true },
                { "data": "SessionName", "autoWidth": true },

                {
                    "data": "AssignedClassId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" >Edit</i></a>' +
                            '<a class="text-danger" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true">Remove</i></a>';
                    }
                }
                //{
                //    "data": "AssignedClassId",
                //    "autoWidth": true,
                //    "render": function(data) {
                //        return '<a class="popup" href="/AssignedClasses/delete/' + data + '"><span class="md-delete"></span> Delete</a>';
                //    }
                //}
                //{ "data": "EmailID", "autoWidth": true },
                //{ "data": "Phone", "autoWidth": true },
            ]
        });

    });
    function Edit(subjecId) {
        var url = "/AssignedClasses/Save?id=" + subjecId;
      
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(subjecId) {
        var url = "/AssignedClasses/Delete?id=" + subjecId;
 
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/AssignedClasses/Create";    
        window.open(url, '_self');
    };

    $("#btn-search").click(function () {
        window.oTable.ajax.reload();

    });
</script>