@{
    ViewBag.Title = "School Expired";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="page-error-box">
    @*<div class="error-code">School Account has been Deactivated</div>*@
    <h1>School Account has been Deactivated</h1>
    <h3>Please Contact Online Support or mail us via  <a href="mailto:info@compunetlimited.org">info@compunetlimited.org</a></h3>
    <a href="@Url.Action("Index","Home")" class="btn btn-rounded">Main page</a>
</div>