@model IEnumerable<SwiftSkoolv1.Domain.AssignSubject>

@{
    ViewBag.Title = "Assigned Subjects";
}
<!-- Modal -->
<div class="card contact-card card-cascade narrower mb-r">
    <div class="admin-panel info-admin-panel">
        <!-- Card title -->
        <div class="view primary-color">
            <h5>Assigned Subject List</h5>
        </div>
        <br/>
        
        @*<a onclick="myFunction()" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Subject</a>*@
        <table id="Jdatatable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>Subject Name</th>
                <th>Term </th>
              
            </tr>
            </thead>
        </table>
        <!-- /.Modal-->
    </div>
</div>
<div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="flex-center">
                    <h4 class="modal-title">Assign Subjects</h4>
                </div>
            </div>
            <!--Body-->
            <div class="modal-body" id="myModalDivBody">
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="fa fa-plus"></i>
    </a>

    <ul>
        <li><a href="#" onclick="myFunction()" class="btn-floating yellow darken-1"><i class="fa fa-user"></i></a></li>
    </ul>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/AssignSubjects/GetStudentIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "ClassName", "autoWidth": true },
                { "data": "SubjectName", "autoWidth": true },
                { "data": "TermName", "autoWidth": true },
              
            ]
        });

    });
   
</script>