@model IEnumerable<SwiftSkoolv1.Domain.BehaviorSkillCategory>

@{
    ViewBag.Title = "Index";
}

<div class="card">
<div class="card-block">
       
<div class="form-header  purple darken-4">
    <h3>
        Behavioral Skill Categories <span><a onclick="myFunction()" class="btn btn-primary"> <i class="fa fa-plus left"></i> Add Behavioral Category</a>
        </span>
    </h3>
</div>



    @*<a class="popup" href="/Subjects/Save/0" style="margin-bottom: 20px; margin-top: 20px">Add</a>*@
    <table id="Jdatatable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

    <!-- Modal -->
    <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="flex-center">
                        <h4 class="modal-title">Behavioral Category</h4>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body" id="myModalDivBody">

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Modal-->
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
      

  
        //debugger;
        //$("#Jdatatable").DataTable({
        //    "processing": true, // for show progress bar while loading
        //    "serverSide": true, // if it is true the preocess is done on server side
        //    "filter": false, // disables search box
        //    "orderMulti": false, // disable multiple column loading at once
        //    "ajax": {
        //        "url": "/Sessions/GetIndex",
        //        "type": "POST",
        //        "datatype": "json"
        //    },
        //var oTable = $("#Jdatatable").DataTable({
        //    // "processing": true, // for show progress bar while loading
        //    "ajax": {
        //        "url": "/Subjects/GetIndex",
        //        "type": "GET",
        //        "datatype": "json"
        //    },
        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/BehaviorSkillCategories/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name", "autoWidth": true },
               
                {
                    "data": "BehaviorSkillCategoryId",
                    "autoWidth": true,
                    "render": function(data) {
                        return '<a href="#" onclick="Edit('+data+')" ><i class="fa fa-pencil" aria-hidden="true" ></i></a>' +
                            '<a class="text-danger" href="#" onclick="Delete('+data+')" ><i class="fa fa-remove" aria-hidden="true" ><i/></a>';

                    }
                }
          
            ]
        });
      
    });
    function Edit(BehaviorSkillCategoryId) {
        var url = "/BehaviorSkillCategories/Save?id=" + BehaviorSkillCategoryId;
        //$('#actionsList').modal("show");
        //window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(BehaviorSkillCategoryId) {
        var url = "/BehaviorSkillCategories/Delete?id=" + BehaviorSkillCategoryId;
        //$('#actionsList').modal("show");
        //window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/BehaviorSkillCategories/Save?id=0";
        //$('#actionsList').modal("show");
        // window.alert(url);
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>
