
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutSwiftSkools.cshtml";
}

<main><br /><br /><br /><br /><br /><br />

    <!--Main layout-->
    <div class="container">
        <div class="row">

            <!--Main column-->
            <div class="col-lg-10">
                <a href="#">
                    <h2 class="post-title">About SwiftSkool</h2>
                </a>
                <p class="lead">SwiftSkool is a Platform tailored to model the academic operations of Post Primary Schools in Nigeria.</p>
                <a href="#">
                    <h2 class="post-title">Our Services</h2>
                </a>
                <p class="lead">
                    <aside>We Develop Websites.</aside>
                    <aside>We Develop Softwares.</aside>
                    <aside>We Connect.</aside>
                    <aside>We Train and Mentor.</aside>
                </p>
                <a href="#">
                    <h2 class="post-title">Our Contact</h2>
                </a>
                <p class="lead">
                    <span></span>
                </p>
                <!--/.Main layout-->
            </div>
        </div>
    </div>
</main>

