@model IEnumerable<string>

   
    
@foreach (var link in Model)
{
    <ul>
        <li>
            <a href="@Url.Action("Index", "Posts",
                         new
                         {
                             category = link,
                             page = 1

                         })">@link</a>
        </li>
    </ul>
}

