@model IEnumerable<string>

<div class="panel panel-default">
    <h4>
        <a href="@Url.Action("Index", "Posts",
                         new
                         {
                             category = "",
                             page = 1

                         })">Latest News</a>
    </h4>

    <ul class="list-group">
        @foreach (var link in Model)
        {


            <li class="list-group-item">
                <a href="@Url.Action("Index", "Posts",
                             new
                             {
                                 category = link,
                                 page = 1

                             })">@link</a>
                        </li>



                    }
    </ul>

</div>
