
@{
    ViewBag.Title = "NewsUpdate";
    Layout = "~/Views/Shared/_LayoutSwiftSkools.cshtml";
}

<main><br/><br/><br/><br /><br /><br />

    <!--Main layout-->
    <div class="container">
        <div class="row">

            <!--Main column-->
            <div class="col-lg-8">

                <!--Post-->
                <div class="post-wrapper wow fadeIn" data-wow-delay="0.2s">
                    <!--Post data-->
                    <h1 class="h1-responsive">SwiftSkool <small class="text-muted">Inter School Debate</small></h1>
                    <h5>Written by <a href="">Swift Admin</a>, 30.07.2017</h5>

                    <br>

                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="~/Content/images/school.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>

                    <br>

                    <!--Post excerpt-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                    <!--"Read more" button-->
                    <button class="btn btn-info">Read more</button>
                </div>
                <!--/.Post-->

                <hr>

                <!--Post-->
                <div class="post-wrapper wow fadeIn" data-wow-delay="0.4s">
                    <!--Post data-->
                    <h1 class="h1-responsive">SwiftSkool<small class="text-muted"> Online Challenge</small></h1>
                    <h5>Written by <a href="">Swift Admin</a>, 30.07.2017</h5>

                    <br>

                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="~/Content/images/im5.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>

                    <br>

                    <!--Post excerpt-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                    <!--"Read more" button-->
                    <button class="btn btn-info">Read more</button>
                </div>
                <!--/.Post-->

                <hr>

                <!--Post-->
                <div class="post-wrapper wow fadeIn" data-wow-delay="0.6s">
                    <!--Post data-->
                    <h1 class="h1-responsive">SwiftSkool<small class="text-muted"> Computer Test</small></h1>
                    <h5>Written by <a href="">Swift Admin</a>, 30.07.2017</h5>

                    <br>

                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="~/Content/images/im6.jpg" class="img-fluid" alt="">
                        <div class="mask">
                        </div>
                    </div>

                    <br>

                    <!--Post excerpt-->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                    <!--"Read more" button-->
                    <button class="btn btn-info">Read more</button>
                </div>
                <!--/.Post-->

                <hr>

                <!--Pagination-->
            </div>

            <!--Sidebar-->
            <div class="col-lg-4">

                <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
                    <h4>Categories:</h4>
                    <br>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Academics</a>
                        <a href="#" class="list-group-item">Morality</a>
                        <a href="#" class="list-group-item">Dedication</a>
                        <a href="#" class="list-group-item">Socials</a>
                        <a href="#" class="list-group-item">Parties</a>
                    </div>
                </div><br><br>



                <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
                    <h4>Subscription Form:</h4>
                    <br>
                    <div class="card">
                        <div class="card-block">
                            <p><strong>Subscribe to SwiftSkool newsletter</strong></p>
                            <p>Once a week we will send you a summary of the most useful news</p>
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form1" class="form-control">
                                <label for="form1">Your name</label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="form2" class="form-control">
                                <label for="form2">Your email</label>
                            </div>
                            <button class="btn btn-info">Submit</button>

                        </div>
                    </div>
                </div>

            </div>
            <!--/.Sidebar-->
        </div>
    </div>
    <!--/.Main layout-->

</main>

