
@model PagedList.IPagedList<SwiftSkoolv1.Domain.Grade>

<div class="card">
    <div class="card-block">
       
        <div class="form-header  purple darken-4">
            <h3>
               Grade <span><a onclick="myFunction()" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Grade</a>
                </span>
            </h3>
        </div>

    <div class="tablecontainer" style="width: 90%; margin: 0 auto">
        <table id="Jdatatable" class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th class="sort-alpha">Class Name</th>
                <th class="sort-alpha">Grade Name</th>
                <th class="sort-alpha">Minimum Value</th>
                <th class="sort-alpha">Maximum Value</th>
                <th class="sort-alpha">Remarks</th>
                <th>Actions</th>

            </tr>
            </thead>
        </table>
    </div>


    <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="flex-center">
                        <h4 class="modal-title">Grade</h4>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body" id="myModalDivBody">

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>


</div>
    </div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/Grades/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "ClassName", "autoWidth": true },
                { "data": "GradeName", "autoWidth": true },
                { "data": "MinimumValue", "autoWidth": true },
                { "data": "MaximumValue", "autoWidth": true },
                { "data": "Remark", "autoWidth": true },
                {
                    "data": "GradeId",
                    "autoWidth": true,
                    "render": function(data) {
                        return '<a href="#" onclick="Edit(' + data +')" ><i class="fa fa-pencil" aria-hidden="true" ></i>Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<a class="text-danger" href="#" onclick="Delete('+data+')" ><i class="fa fa-remove" aria-hidden="true" ></i>Remove</a>';

                    }
                }
               
               ]
        });
      
    });
    function Edit(GradeId) {
        var url = "/Grades/Save?id=" + GradeId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(GradeId) {
        var url = "/Grades/Delete?id=" + GradeId;
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/Grades/Save?id=0";
        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>
