@model IEnumerable<SwiftSkoolv1.Domain.AssignBehavior>

<style>
    span.field-validation-error {
        color: red;
    }
</style>

<div class="card contact-card card-cascade narrower mb-r">
<div class="admin-panel info-admin-panel">
    <!-- Card title -->
    <div class="view primary-color">
        <h5>Assign Student Behavior</h5>
    </div>
    <br/>
    <br/>

    <div class="tablecontainer" style="width: 90%; margin: 0 auto">
        @*<a onclick="myFunction()" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Behaviors</a>*@
        <a href="@Url.Action("Create","AssignBehaviors")" class="btn btn-primary btn-lg"> <i class="fa fa-plus left"></i> Add Behaviors</a>
        <table id="Jdatatable" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Student Id</th>
                <th>Term Name</th>
                <th>Session Name</th>
                <th>Behavioral Skill Name</th>
                <th>Skill Score</th>
                <th>No of Absence</th>
                <th>Teacher Comment</th>
                <th>Actions</th>

            </tr>
            </thead>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade modal-bf-fh" id="actionsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="flex-center">
                        <h4 class="modal-title">Subject</h4>
                    </div>
                </div>
                <!--Body-->
                <div class="modal-body" id="myModalDivBody">

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Modal-->


</div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {




        window.oTable = $("#Jdatatable").DataTable({
            "processing": true, // for show progress bar while loading
            "serverSide": true, // if it is true the preocess is done on server side
            "filter": true, // disables search box
            "info": true,
            "stateSave": true,
            "orderMulti": false, // disable multiple column loading at once
            "ajax": {
                "url": "/AssignBehaviors/GetIndex",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "StudentId", "autoWidth": true },
                { "data": "TermName", "autoWidth": true },
                { "data": "SessionName", "autoWidth": true },
                { "data": "BehaviouralSkillId", "autoWidth": true },
                { "data": "SkillScore", "autoWidth": true },
                { "data": "NoOfAbsence", "autoWidth": true },
                { "data": "TeacherComment", "autoWidth": true },

                {
                    "data": "AssignBehaviorId",
                    "autoWidth": true,
                    "render": function (data) {
                        return '<a href="#" onclick="Edit(' + data + ')" ><i class="fa fa-pencil" aria-hidden="true" ><i/></a>' +
                            '<a class="text-danger" href="#" onclick="Delete(' + data + ')" ><i class="fa fa-remove" aria-hidden="true" ><i/></a>';

                    }
                }

            ]
        });

    });
    function Edit(subjecId) {
        var url = "/Subjects/Save?id=" + subjecId;

        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function Delete(subjecId) {
        var url = "/Subjects/Delete?id=" + subjecId;

        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
    function myFunction() {
        var url = "/AssignBehaviors/Create";

        $('#myModalDivBody').load(url,
            function () {
                $('#actionsList').modal("show");
            });
    };
</script>
